.header{
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
}

.header .foto{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.header .nombre{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.header .datos-personales{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}